body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007BFF;
    padding: 15px;
    color: white;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #a5a5a5;
}

.login-container {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: 10vh auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background: #0056b3;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    /* 로그인 페이지 간격 조정 */
    .login-container {
        width: 95%;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 480px) {
    header nav ul li a {
        font-size: 16px;
    }

    .login-container {
        padding: 15px;
    }

    .login-container button {
        font-size: 14px;
    }
}